.whatwedo {
   // .whatwedo__container

   &__container {
   }

   //.whatwedo__header

   &__header {
   }

   //.whatwedo__title

   &__title {
      position: relative;
      padding: 20px 0 0 0;
   }

   &__title::before {
      content: '';
      background: url(/img/Rectangle\ .jpg);
      position: absolute;
      height: 8px;
      width: 75px;
      top: 0;
      left: 0;
   }

   // .whatwedo__body

   &__body {
   }

   // .whatwedo__colums

   &__colums {
   }

   //.whatwedo__ibg

   &__ibg {
   }

   // .whatwedo__dataprocessing

   &__dataprocessing {
   }

   // .whatwedo__dataconversion

   &__dataconversion {
   }
}

/* ------------------------------------------------- */
