/* --ABOUT-BLOCK----------------------------------------- */

.about-block {
   position: relative;
   color: #ffffff;
	

   &__container {
      padding-top: 150px;
      padding-bottom: 200px;
      position: relative;
      z-index: 9;
   }
   &__body {
   }
   &__body > *:not(:last-child) {
      margin-bottom: 80px;
   }

   &__header {
   }

   &__logo {
   }

   &__title {
   }

   &__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }

   /*--MEDIA ABOUT-BLOCK----------------------------------------------*/

   @media (max-width: 320px) {
      &__body > *:not(:last-child) {
         margin-bottom: 40px;
      }
   }

   @media (max-width: 400px) {
      &__container {
         padding-top: 180px;
      }
   }

   @media (max-width: 1200px) {
   }
}
