//ANALYTICS

.analytics {
   max-width: 100%;

   &__body {
      position: relative;
      display: flex;
      justify-content: center;
      padding-top: 50px;
   }

   //MEDIA ANALYTICS

   @media (max-width: 767.98px) {
      &__body {
         flex-direction: column;
      }
   }
}

//ANALYTICS-LEFT

.analytics-left {
   padding-right: 10px;

   &__title {
      position: relative;
      margin-bottom: 48px;
      padding-top: 25px;
   }

   &__title::before {
      content: '';
      background: url(/img/Rectangle\ .jpg);
      position: absolute;
      height: 8px;
      width: 75px;
      top: 0;
      left: 0;
   }

   &__title:last-child {
      margin-bottom: 0;
   }

   &__chart {
      margin-bottom: 79px;
   }

   &__button {
      margin-bottom: 233px;
   }

   //MEDIA ANALYTICS-LEFT

   @media (max-width: 767.98px) {
      display: flex;
      flex-direction: column;
      padding-top: 50px;
      padding-right: 0;

      &__button {
         margin-bottom: 50px;
      }
   }
}

//ANALYTICS-RIGHT

.analytics-right {
   padding-left: 10px;

   &__title {
      position: relative;
      margin-bottom: 50px;
      padding-top: 25px;
      align-self: flex-start;
   }

   &__title::before {
      content: '';
      background: url(/img/Rectangle\ .jpg);
      position: absolute;
      height: 8px;
      width: 75px;
      top: 0;
      left: 0;
   }

   &__images {
      position: relative;
      top: 0;
      left: 0;
   }
   &__images img {
      height: 100%;
      width: 100%;
      object-fit: cover;
   }

   &__img-man {
      position: absolute;
      top: 0;
      left: 0;
   }
   &__img-circle {
      position: absolute;
      top: 0;
      left: 0;
   }

   //MEDIA ANALYTICS-RIGHT

   @media (max-width: 767.98px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 50px;
      padding-left: 0;

      &__images {
         width: 70%;
      }

      &__img-man {
         position: static;
      }
   }
}

//SINGLE BLOCKS

.title-analitycs {
   font-size: 32px;
   font-weight: 900;
   line-height: 38px;
   letter-spacing: 0em;

   //MEDIA SINGLE BLOCKS

   @media (max-width: 767.98px) {
      font-size: 20px;
      font-weight: 400;
   }
}
.chart {
   // width: 100%;
}
