//MAIN

.container {
   max-width: 1330px;
   margin: 0 auto;
   padding: 0 15px;
   // background-color: rgba(0, 110, 255, 0.295);
}
/* 
// PC
@media (max-width: 1260px) {
   ._container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 15px;
   }
}

// TABLET
@media (max-width: 1200px) {
   ._container {
      max-width: 767.98px;
      margin: 0 auto;
      padding: 0 15px;
   }
}

// MOBILE
@media (max-width: 767.98px) {
   ._container {
      max-width: 576px;
      margin: 0 auto;
      padding: 0 15px;
   }
}

// MOBILE
@media (max-width: 576px) {
   ._container {
      max-width: 320px;
      margin: 0 auto;
      padding: 0 15px;
   }
}
 */