/* --ITEM-ABOUT------------------------------- */

.item-about {
   flex: 1 1 180px;
   max-height: 167px;
   min-width: 180px;
   padding: 25px 0 54px 0;
   border: 2px solid rgba(196, 196, 196, 0.2);
   border-radius: 20px;
   background-color: #6464645d;
   color: #fff;
   transition: box-shadow 0.3s ease 0s;
   // backdrop-filter: blur(10px);

   & > *:not(:last-child) {
      margin-bottom: 25px;
   }

   &:hover {
      box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.466);
   }

   &__content {
		
   }

   &__link {
		display: flex;
		color: inherit;
   }

   &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 73px;
      height: 73px;
      border-radius: 50%;
      background-color: #e01e2e;
   }

   &__icon:not(.item-about_big > .item-about__icon) {
      margin-right: auto;
      margin-left: auto;
   }

   &__title {
      font-size: 20px;
      font-weight: 700;
      line-height: 120%;
      text-align: center;
      color: inherit;
   }

   &__text {
      font-size: 16px;
      line-height: 150%;
      color: inherit;
   }

   &_big {
      flex: 1 1 600px;
      padding: 25px 25px 54px;
      // max-height: 325px;
		max-height: 100%;
      width: 100%;
      text-align: start;
      background: url(/img/about/card/bg-big-card.jpg) no-repeat center / cover;
      transition: box-shadow 0.3s ease 0s;

      .item-about__icon {
         width: 93px;
         height: 93px;
      }

      .item-about__title {
         text-align: start;
         margin-bottom: 15px;
      }

      .item-about__text {
         text-align: start;
      }
   }

   /* --MEDIA ITEM-ABOUT------------------------------- */

   @media (max-width: 320px) {
      flex-basis: 75%;
   }

   @media (max-width: 659px) {
      &_big {
         max-height: 100%;
         .item-about__icon {
            margin-right: auto;
            margin-left: auto;
         }

         .item-about__title {
            text-align: center;
         }

         .item-about__icon {
            width: 73px;
            height: 73px;

            img {
               width: 37px;
            }
         }
      }
   }

   @media (max-width: 767.98px) {
   }
}
