.main {
   flex: 1 1 auto;
}

.main__section-first {
   background-color: black;
   height: 992px;
   background: url('/img/Vector.png') no-repeat bottom / 100%,
      url('/img/Artboard@7x\ 1.jpg') no-repeat center / cover;
}
