/*-- MENU-------------------------------------------------------------------------------- */

.menu {
   padding: 5px 0;

   &__list {
      display: flex;
      flex-wrap: wrap;
   }

   &__item {
      margin: 0 54px 0 0;
      transition: transform 0.2s;
   }
   &__item:last-child {
      margin-right: 0;
   }

   &__item:hover {
      transform: scale(105%);
   }

   &__link {
      font-size: 18px;
      font-weight: 700;
      line-height: 133%;

      color: rgba(255, 255, 255, 1);
      transition: text-shadow 0.3s ease, color 0.4s, transform 0.5s;
   }

   &__link:hover {
      text-shadow: 5px 10px 3px white;
      color: rgb(255, 217, 0);
      transform: scale(110%);
   }

   /*----- MEDIA MENU------------------------------------------------------------------------- */
 
   @media (max-width: 768px) {
      &__link {
         font-weight: 400;
      }
   }

   @media (max-width: 1050px) {
      &__item {
         margin: 0 45px 0 0;
      }
   }
}
