.swiper {
	max-width: 100%;
	height: 150px;

	cursor: pointer;
}

.swiper-slide {
	text-align: center;
}

.swiper__text {
	color: rebeccapurple;
	font-size: calc(20px + 20 * (100vw - 320px) / 940);
	font-weight: 700;
}
