.services {
   // .services__container

   &__container {
   }

   // .services__body
   &__body {
      display: flex;
      justify-content: center;
      margin: 0 -15px;
      position: relative;
      z-index: 9;
   }

   // .services__column
   &__column {
      display: flex;
      flex: 1 1 auto;
      padding: 0 15px;
   }

   //services__link
   &__link {
      display: contents;
   }

   // .services__item
   &__item {
   }

   /* --MEDIA SERVICES--------------------------------- */

   @media (max-width: 320px) {
      &__column:not(.services__column_big) {
      }
   }

   @media (max-width: 659px) {
      &__column:not(.services__column_big) {
         flex-basis: 100%;
      }
   }

   @media (max-width: 1025px) {
      &__body {
         flex-wrap: wrap-reverse;
      }
      &__column:not(.services__column_big) {
         margin-bottom: 15px;
      }
   }
}
