/* --TITLE--------------------------------------------------- */

.title {
   font-weight: 900;
   font-size: calc(30px + 34 * (100vw / 1300));
   text-align: center;
   line-height: 120%;

	/* --MEDIA TITLE----------------------------------------- */

   @media (max-width: 320px) {
     font-weight: 700;
   }
}
